
.main{
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #008c8c;
}
.aside{
    width: 200px;
    height: 100%;
    background-color: #f40;
}
.content{
    left:200px;
    top:0;
    bottom: 0;
    right: 0;
    background-color: skyblue;
    position: absolute;
    overflow: auto;
}